:root {
--cor-azul-claro: #EEF7FD;   /* Fundo muito claro */
--cor-roxo: #794EFD;         /* Roxo vibrante */
--cor-lavanda: #A88BFB;      /* Roxo mais suave */
--cor-azul: #57BAFD;         /* Azul vivo */
--cor-pessego: #FBD1CC;      /* Rosa/pêssego claro */
}

.container-header{
display: flex;
align-items: center;
justify-content: space-between;
height: 120px;
padding: 0 50px;
margin: 0 27px;
}

.home-nav-logoespan {
display: flex;
align-items: center;
gap: 5px;
}

.home-nav-logo {
width: 30px;
}

#home-nav-span {
font-size: 1.5rem;
font-weight: bold;
color: var(--cor-lavanda);
}

.home-nav, .home-nav nav,
.home-nav-links {
display: flex;
align-items: center;
}

.home-nav-links {
margin: 0;
flex-direction: row;
gap: 10px;
}

.home-nav-links li {
list-style: none;
font-weight: bold;
font-size: 1.5rem;
}

.home-nav-links li a {
text-decoration: none;
color: var(--cor-azul);
}

.home-nav-links li a:hover {
color: var(--cor-roxo);
}

main {
margin: 0 20px;
}

ul {
padding: 0;
}

li {
list-style: none;
}

section {
margin: 20px;
}

p {
margin: 0;
padding: 5px 25px;
}

.card-indicacao, .card-recomendacao-por-nivel, h3, .sub-subtitulo {
overflow-wrap: break-word;
word-break: break-word;
box-sizing: border-box;
}

#card-separado {
width: 87.5%;
}

.titulo-principal, .subtitulo, .sub-subtitulo {
box-sizing: border-box;
text-align: center;
margin: 10px 0 0 0;
}

.subtitulo {
padding-bottom: 25px;
}

.indicacoes, .recomendacoes {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 25px;
box-sizing: border-box;
margin: 0;
}

.recomendacoes {
margin: 0 30px;
}

.card-indicacao {
width: 40%;
}

.card-indicacao, .card-recomendacao-por-nivel {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px;
border-radius: 24px;
box-shadow: 0 0 17px 4px #9C9C9C;
background-color: aliceblue;
}

.card-recomendacao-por-nivel {
width: 30%;
}

@media screen and (max-width: 740px) {
.card-indicacao, .card-recomendacao-por-nivel {
width: 95%;
padding: 10px;
}
p {
text-align: justify;
}
}
