header{
    display: none;
}

main{
    margin: 20px;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

section{
    margin: 20px;
}

.card-indicacao, h3, .sub-subtitulo {
  overflow-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
}


.titulo-principal, .subtitulo, .sub-subtitulo{
    box-sizing: border-box;
    text-align: center;
    margin: 25px 0px;
}

.indicacoes, .recomendacoes{
    width: auto;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.card-indicacao{
    width: 45%;
}

.card-indicacao, .card-recomendacao-por-nivel{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 24px;
    box-shadow: 0px 0px 17px 4px #9C9C9C;
    justify-content: center;
    align-items: center;
}

.card-recomendacao-por-nivel{
    width: 30%;
}


@media  screen and (max-width: 740px) {
    .card-indicacao{
        width: 95%;
    }
}

@media  screen and (min-width: 1300px) {
    .card-indicacao{
        width: 30%;
    }
}