main{
    margin: 20px;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

section{
    margin: 20px;
}

p{
    margin:0;
    padding: 5px 25px;
}

.card-indicacao, h3, .sub-subtitulo {
  overflow-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
}

#card-separado{
    width: 87.5%;
}

.titulo-principal, .subtitulo, .sub-subtitulo{
    box-sizing: border-box;
    text-align: center;
    margin: 25px 0px;
}

.indicacoes, .recomendacoes{
    width: auto;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    gap: 25px;
    box-sizing: border-box;
    margin: 0;
}
.card-indicacao{
    width: 40%;
}

.card-indicacao, .card-recomendacao-por-nivel{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 24px;
    box-shadow: 0px 0px 17px 4px #9C9C9C;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.card-recomendacao-por-nivel{
    width: 30%;
}


@media  screen and (max-width: 740px) {
    .card-indicacao,
    .card-recomendacao-por-nivel{
    width: 95%;
    padding: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    }
    p{
        text-align: justify;
    }
}