* {
    padding: 0;
    margin: 0;
    border: 0;
}
:root {
    --cor-azul-claro: #EEF7FD;   /* Fundo muito claro */
    --cor-roxo: #794EFD;         /* Roxo vibrante */
    --cor-lavanda: #A88BFB;      /* Roxo mais suave */
    --cor-azul: #57BAFD;         /* Azul vivo */
    --cor-pessego: #FBD1CC;      /* Rosa/pêssego claro */

    --cor-verde-feliz: #83f9c1;
    --cor-azul-claro-fofo: #bcf3fe;
    --cor-azul-medio-neutro: #7cc9f6;
    --cor-roxo-triste: #a57bff;
    --cor-salmao-rosado-muito-triste: #fda197;
    
}

header {
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: 0 2px 10px rgba(10px);
    z-index: 1000;
}

.home-nav-logoespan {
    display:flex;
    align-items: center;
    gap: 10px;
}

.home-nav-logo {
    height: 120px;
    width: 120px;
}

#home-nav-span {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-lavanda)
}

.home-nav-links a, ul{
    display: flex;
    gap:10px;
    text-decoration: none;
    color: var(--cor-azul);
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5rem;
}
.home-nav-links a:hover {
    color: var(--cor-roxo);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 40px;
    
}

#home-section1 {
    background-image:url(/img/img-home-section1.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    justify-items: center;
}

.home-section1-elementos {
    position: relative;
    top:30%;
    font-weight:bold;
    font-size: 25px;
}
#home-section1-button-principal{
    background: linear-gradient(90deg, var(--cor-roxo), var(--cor-azul), var(--cor-pessego));
    background-size: 200%;
    border: none;
    border-radius: 90px;
    padding: 20px 40px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color:black;
    transition: all 0.4s ease;
    position: relative;
} 
#home-section1-button-principal:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(121, 78, 253, 0.4);
}

/* Home - Section 2 - Problema-titulo*/
#home-section2 {
    background-image:url(/img/img-home-problema.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    justify-items: center;
}

/* Home - Section 3 - Problema-descrição*/
#home-section3 {
    background-image:url(/img/img-home-problema2.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    justify-items: center;
}

/* Home - Section 4 - Solução-titulo*/
#home-section4 {
    background-image:url(/img/img-home-solucao.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    justify-items: center;
}

/* Home - Section 5 - Solução-descrição*/
#home-section5 {
    background-image:url(/img/img-home-solucao2.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    justify-items: center;
}


 /*fale conosco*/
.fale-conosco-section1 {
    background-image:url(/img/img-fale-conosco2.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    justify-items: center;
}

.img-fale-conosco-formulario {
    background-image: url(/img/img-fale-conosco-formulario.png);
    background-size: cover;
    border-radius: 20px;
}


/* Teste - img de fundo*/
#teste-section1 {
    background-image:url(/img/img-teste-fundo.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    justify-items: center;
}
<<<<<<< HEAD

/* Teste - img do fundo do carrossel*/
.teste-img-carrossel {
    background-color: #eef7fd8e;
    background-size: cover;
    border-radius: 20px;
}


.bg-mint-green {
    background-color: var(--cor-verde-feliz);
}

.bg-blue {
    background-color: var(--cor-azul-claro-fofo);
}

.bg-purple {
    background-color: var(--cor-azul-medio-neutro);
}

.bg-dark-purple {
    background-color: var(--cor-roxo-triste);
}

.bg-coral {
    background-color: var(--cor-salmao-rosado-muito-triste);
}

.face-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2.5rem;
} 





=======
.top{
    padding-top: 300px;
}
.bg{
           background-image:url(/img/img-home-section1.jpg);
    background-size: cover;
}
.pergunta {
  margin-bottom: 15px;
}
.pergunta label {
  margin-right: 8px;
}
    .pergunta {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }

    .opcoes label {
      margin-right: 10px;
      display: inline-block;
    }
>>>>>>> 521a9fa2ebd9f57421e55ec4b4c3c8a6e9c499e7
